title{
    font-size: 50px;
    color: red;
    }
    p{
        font-size: 30px;
        color: aqua;
        background-color: yellow;}
    
        h1{
           font-size: 30;
           color: pink;
        }
        h2{
            color: pink;
            }
        body{
            background-color:ghostwhite
            }
    